@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

.navbar{
    background-color: #1FB6FF !important;
    font-family: Roboto;
    padding: 0px 8px 0px 8px !important;
    position: fixed;
}
.navbar-brand{
    color: white !important;
    font-size: 30px !important;
    letter-spacing: 1px;
}

.navbar-toggler{
    background-color: #ffffff;
}
.navbar-light .navbar-nav .nav-link{
    color: white !important;
}
.navbar-light .navbar-nav .nav-link{
    padding-top: 15px !important;
}
.navbar-light .navbar-nav .nav-link .p{
    margin-left: 0.5rem !important;
    color: white !important;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
	color: white !important;
}

.sidebar {
    margin-top: 55px;
    padding: 0;
    width: 270px;
    background-color: #ffffff;
    position: fixed;
    display: block;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid #E1E1E1;

  }
  
  .sidebar a {
    display: block;
    color: #646464;
    font-family: roboto;
    padding: 16px;
    border-bottom: 1px solid #E1E1E1;
    text-decoration: none !important;
  }
   
  .sidebar a.active {

    color: #1FB6FF !important;
  }
  
  .sidebar a:hover:not(.active) {
    color: #1FB6FF !important;
  }
  
  div.content {

    padding: 1px 16px;
  
    height: 100%;
  }

div.text{
    padding-left: 270px;
}
.user{
  background-color: #e6e6e6;
}

.head{
  color: #646464 !important;
  font-family: roboto;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.5px;
  padding-top: 40px !important;
  margin-top: 50px;
}

  .button{
      float:right;
      display: inline;
      padding-top: 30px !important;
      padding-right: 20px !important;
      
  }
  
  
  .right{
      background-color: #1FB6FF !important;
      color: white !important;
      font-size: 14px;
      font-family: roboto;
      display: inline;
      float: right;
  }
  .right:hover{
    background-color: #29aaeb !important;
  }

  .filter{
    padding: 20px;
    background-color: white !important;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
  }
.filter1{
    padding: 20px;
    background-color: white !important;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
  }


  .dropbtn{
    height: 46px;
    width: 205px;
    background-color: white !important;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    color: #A0A0A0;
    font-size: 16px;
    margin: 20px 0px 20px 15px;
    text-align: left;
  }
  .btnclassdflex{
    display: flex;
    justify-content: space-around;
  }

.btnserchFilter{
  width: 84px;
  height: 46px;
  font-family: roboto;
  background-color: #1FB6FF !important;
  color: white !important;
  
}
.btnserchFilter:hover{
  background-color: #29aaeb !important;
}

.btnClearFilter{
  width: 84px;
  height: 46px;
  font-family: roboto;
  background-color: white !important;
  color: #646464 !important;
  border: 1px solid #E1E1E1 !important;

}
.btnClearFilter:hover{
  border: 1px solid #29aaeb !important;
  color: #29aaeb !important;
}
.form-group{
  padding: 20px 10px 20px 15px;
  font-family: roboto;
}
.form-control{
  height: 46px;
}

.select1{
  height: 46px !important;
}
.table{
  color: #646464;
  font-family: roboto !important;
  border: 1px solid #E1E1E1 !important;
}
.thead ,tr{
  background-color: white !important;
}
.tbody .tr .odd{
  height: 90px;
}
table.dataTable tbody th, table.dataTable tbody td{
  padding: 15px 10px 15px 20px !important;
}


.dataTables_wrapper .dataTables_length{
  margin-top: 30px !important;
  color: #646464;
  font-family: roboto !important;
}
.dataTables_filter{
  margin-top: 20px !important;
  
}
.dataTables_info{
  color: #646464;
  font-family: roboto !important;
  font-size: 16px;
}
.dataTables_wrapper .dataTables_length select {
  height: 40px !important;
  background-color: white !important;
}
.dataTables_wrapper .dataTables_paginate {
  color: #646464;
  font-family: roboto !important;
  font-size: 16px;
  padding-top:15px !important ;
  padding-bottom:15px !important ;

}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  border: 1px solid #E1E1E1 !important;
  background-color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  background-color: #646464 !important;
}

/* DropDown */
.more {
  cursor: pointer;
  border: none;
  background: transparent;
}

.more span {
  display: block;
  width: .25rem;
  height: .25rem;
  background: #363636;
  border-radius: 50%;
  pointer-events: none;
}
.more:focus{
  outline: none !important;
  box-shadow: none !important;
}
.more span:not(:last-child) {
  margin-bottom: .125rem;
}

.dropout {
  z-index: 9001;
  width: fit-content;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.dropout ul {
  position: absolute;
  top: 0rem;
  right: 1.5rem;
  background-color: white;
  border: 1px solid gray;
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 0.12s ease;
  padding-left: 0px !important;
}

.dropout.active ul {
  transform: scaleX(1);
}
ul li{
  list-style: none !important;
}
.hoverLI:hover{
  background-color: gray;
  color: rgb(255, 255, 255);
}

.UserActiveStatus {
  font-size: 13px; 
  text-align: center !important; 
  font-family: roboto;
  width: 75px; 
  border: none;
  background-color: rgb(139, 247, 39); 
  color: white;
  padding: 2px 0px;
  margin-bottom: 0px !important;
}

.UserInactiveStatus {
  font-size: 13px; 
  text-align: center !important; 
  font-family: roboto;
  width: 75px; 
  border: none;
  background-color: rgb(247, 39, 39); 
  color: white;
  padding: 2px 0px;
  margin-bottom: 0px !important;
  
}

.UserInactiveStatus:focus + .UserActiveStatus:focus{
  outline: none;
  box-shadow: none;
}



.tdcosttext{
  font-family: roboto;
  text-align: left;
  color: #146371;
  font-size: 25px;
  font-weight: bold;
}
.form-check-inline{
  padding-left: 15px !important;
}
.form-check-input{
  margin-left: 0px !important;
}


