@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

.logo{

    width:74px;
    height: 54px;
    margin-top: px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.navbar{
    background-color: #525252;
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 64px;
}
.navbar-nav{
    font-family: Roboto;
    
    text-align: right;
    font-size: 17px;
    background-color: #525252;
}

.nav-link{
    color: white !important;
    margin-left: 0px;

}


.Rounded-Rectangle{
   border: 1px solid #fff;
    border-radius: 22px;
    width: auto;
    background-color: #29626d;
    line-height: 20px;
    padding-left: 19px;
    padding-right: 19px;
    text-align: center;
    letter-spacing: 0.2px;
}

.Rounded-Rectangle-1{
    border: 1px solid #fff;
    border-radius: 22px;
    width: auto;
    background-color: #29626d;
    line-height: 20px;
    padding-left: 22px;
    padding-right: 22px;
    text-align: center;
    letter-spacing: 0.2px;
}
.Rounded-Rectangle-2{
    border: 1px solid #fff;
    border-radius: 22px;
    width: auto;
    background-color: #29626d;
    line-height: 20px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
    letter-spacing: 0.2px;
}
div p a{
    color: white;
}

div p a:hover{
    color: white;
}

a:hover{
    text-decoration :none
}
.cust {
    width: 100px;
    padding-bottom: 10px;
    font-size: 24px;
    color: #fff;
    font-family: Roboto;
    background-color: #1d7a8c;
  }
  
.spv {
    width: 100px;
    padding-bottom: 10px;
    font-size: 24px;
    color: black;
    font-family: Roboto;
    background-color: #f6f6f6;
    border-bottom: 3px solid #1d7a8c;
  }
.img{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}