@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

.img-fluid{
    background-image: url("Images/group-35.png");
    width: 100%;
    height:730px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.logo {

    width:130px;
    height: auto;
    margin-top: 10px;
    margin-left: 15px;
}
.center{
    margin-top: 200px;
    margin-left: 700px;
    width: 200px;
    border-opacity: 0.5;
    border: 1px solid #fff;
    border-radius: 27px;
    padding: 10px;
    background-color: #006072;
    text-align: center;
    font-style: normal;
    font-family: Roboto;
    color: #fff;
}

.head{
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
    margin-top:50px;
    margin-bottom: 50px;
 
}

.head1{
    border: 1px solid #fff;
    border-radius: 27px;
    font-family: Roboto;
    padding: 10px;
    font-size: 17px;
    width: 200px;
    background-color: #006072;
    text-align: center;
    color: #fff;
    margin: auto;
    margin-top: 1%;
    padding: 10px;
}


img.Group-21 {
  width: 300px;
  height: 300px;
  margin-left: 90px;
  margin-top: 20px;
}
img.Group-23 {
  width: 30px;
  height: 30px;
  margin-top: 20px;

}

img.Group-24 {
  width: 320px;
  height: 320px;
  margin-top: 20px;

}

img.home-img {
    margin-top: 100px;
    margin-left: 150px;
   
    width: 40%;
}

img.home-img1{
    margin-top: 115px;
    margin-left: 100px;
    
    width: 45%;

}
img.home-img2 {
    margin-top: 100px;
    margin-left: 50px;
    
    width: 40%;

}

img.home-img3 {
    margin-top: 115px;
    margin-left: -10px;
    
    width: 50%;
}

img.home-img4 {
   margin-top: 100px;
    margin-left: -50px;
    
    width: 40%;
}
img.home-img5 {
   margin-top: 115px;
    margin-left: -100px;
    
    width: 45%;
}

img.home-img6 {
   margin-top: 100px;
    margin-left: -150px;
    margin-bottom: 20px;
    width: 40%;
}


.text1{
    color: #fff;
    font-family: Roboto;
    margin-left: 115px;
}

.text2{
    color: #fff;
    font-family: Roboto;
    margin-left: 70px;
}
.text3{
    color: #fff;
    font-family: Roboto;
    margin-left: 5px;
}
.text4{
    color: #fff;
    font-family: Roboto;
    margin-left: -60px;
}


.parent {
  position: relative;
  margin-left: 740px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;

}
.image2 {
  position: absolute;
  top: 10px;
  left: 12px;
}

.h1{
    color: #fff;
    margin-left: 50px;
    margin-top: 90px;
}

.t11{
    color: #fff;
    margin-left: 50px;
}

.p1{
    color: #4f4f4f;
    margin-top: 20px;
    margin-left: 80px;
   
}

.p2{
    color: #4f4f4f;
    margin-top: 20px;
    margin-left: 50px;
   
}

.p3{
    color: #4f4f4f;
    margin-top: 20px;
    margin-left: 50px;
   
}

.hed1{
    text-align: center; 
    font-family: Roboto;
    margin-left: 10px;
    margin-right: 60px;
    color: #4f4f4f;
    font-weight: bold;
}
.hed2{
    text-align: center; 
    font-family: Roboto;
    margin-left: 20px;
    margin-right: 60px;
    color: #4f4f4f;
    font-weight: bold;
}
.hed3{
    text-align: center; 
    font-family: Roboto;
    margin-left: 35px;
    margin-right: 60px;
    color: #4f4f4f;
    font-weight: bold;
}
.pp1{
    text-align: normal;
    margin-left: 10px;
    margin-right: 60px;
     font-family: Roboto;
     font-size: 17px;
}
.pp2{
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 60px;
     font-family: Roboto;
     font-size: 17px;
}

.pp3{
    text-align: left;
    margin-left: 40px;
    margin-right: 60px;
     font-family: Roboto;
     font-size: 17px;
}



img.Group-21{
    border-radius: 50%;
    margin-bottom: 20px;
    
}
.img1{
    
    margin-left: 0px;
}
.img2{
    
    margin-left: -60px;
}
.img3{
    
    margin-left: -60px;
}

.navbar-nav{
    font-family: Roboto;
    text-decoration-color: #000;
    text-align: right;
    font-size: 17px;
}

.nav-link{
    color: #fff;
    margin-left: 10px;
    letter-spacing: 0.5px;
}

.Rounded-Rectangle{
   border: 1px solid #fff;
    border-radius: 22px;
    width: 170px;
    line-height: 20px;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    letter-spacing: 0.2px;
}

.Rounded-Rectangle-1{
    border: 1px solid #fff;
    border-radius: 22px;
    width: 100px;
    line-height: 20px;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    letter-spacing: 0.2px;
}
.Rounded-Rectangle-2{
    border: 1px solid #fff;
    border-radius: 22px;
    width: 180px;
    line-height: 20px;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    letter-spacing: 0.2px;
}
.arrow{
    margin-left: -8px;
}

.txt3{
    font-family: Roboto;
    margin-left: 80px;
    /*color: */
    color:#4f4f4f;
    font-weight: bold;
}

.tx3{
    font-family: Roboto;
    margin-left: 80px;
    margin-right: 50%;
    color: #4f4f4f;
    font-size: 17px;
}
img.img36{
    float: right;
    margin-top: -300px;
    margin-right: 80px;
}
.rect {
  width: 320px;
  height: 330px;
  margin: 50px 45px 43px 48px;
  padding: 0 0 3px;
  border-radius: 5px;
  box-shadow: 0 0 60px 0 #e4ebf0;
  background-color: #fff;
}

.i1{
    width: 320px;
}
.t1{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #4f4f4f;
    font-family: Roboto;
    font-weight: bold;
   
}


.image3{
    background-color: black;
}

.bg4{
    background-color: #f4f5f8;
}

.head3{
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4F4F4F;
    margin-top: 10px;
    margin-bottom: 20px;
 
}

.rect1 {
    width: 325px;
    height: 380px;
    border-radius: 4px;
    box-shadow: -5px 0px 0px 0px rgba(29,122,140,1);
    background-color: #fff;
    margin: 59px 44px 42px 43px;
    padding: 6px 19px 0 0;
}
.i11{
    width: 70px;
    height: 70px;
    margin-left: 40px;
    margin-top: 40px;
}

.p11{
    margin-left: 125px;
    margin-bottom: -5px;
    margin-top: -60px;
    font-family: Roboto;
    font-size: 20px;
    color: #4F4F4F;
    font-weight: bold;
}
.head4{
    font-family: Roboto;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4F4F4F;
    margin-top: 10px;
    margin-bottom: 10px;
 
}

.head5{
    border: 1px solid #565656;
    border-radius: 27px;
    font-family: Roboto;
    padding-left: 10px;
    font-size: 13px;
    width:280px;
    font-weight: bold;;
    text-align: left;
    color: #565656;
    margin: auto;
    margin-left: 450px;
    padding: 10px;
}

.btn1{
    border-radius: 27px;
    border: 1px solid #FF7B6D;
    background-color: #FF7B6D;
    color: #FFFFFF;
    margin-left:300px;
    margin-top: 5px;
    width: 80px;
}

.img10{
    float:right;
    width:60px;
    height: 60px;
    margin-right: -60px;
    margin-top: -60px;
}

.parent1 {
  position: relative;
  float: left;
  margin-left: 740px;
  margin-top: 30px;
}
.image11 {
  position: relative;
  top: 0;
  left: 0;

}
.image12 {
  position: absolute;
  top: 10px;
  left: 12px;
}

.circle{
    background:#525252;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-top: -80px;
    margin-left: -50px;
}
.navbot{
    background-color: #fff;
}
.logo5 {

    width:130px;
    height: auto;
    margin-top: 20px;
    margin-left: 115px;
    margin-bottom: 20px;
    margin-right: -100px;
}
.footer{
    text-align: center;
    color: #F1F1F1;
    vertical-align: middle;
    line-height: 50px;
    
}

.btn2{
    border-radius: 27px;
    border: 1px solid  #F1F1F1;
    background-color: #EED507;
    color: black;
    margin-right:15px;
    margin-top: -55px;
    width: 100px;
    height: 40px;
    float: right;
}
