@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

.img-fluid {
    background-image: url(Images/BG-Beacome.png);
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    max-height: 130px;
    max-width: 175px;
}
.navbar{
    background-color: transparent;
}

.navbar-nav{
    font-family: Roboto;
    text-decoration-color: #000;
    text-align: right;
    font-size: 17px;
  
}
.navbar-toggler{
    border: 1px solid white !important;
}

.navbar-nav .nav-link{
    color: #FFFFFF!important;
    font-size: 17px !important;
    padding: 8px 23px !important;
}
@media(max-width:1200px) {
    .navbar-nav .nav-link{
        padding: 8px 15px !important;
    }
}
@media(max-width:1030px) {
    .navbar-nav .nav-link{
        padding: 8px 10px !important;
    }
}
.navbar-light .navbar-toggler{
    border: 2px solid white !important;
}
.bgcolor.scrolled{
    background-color: rgb(63, 63, 63);
    transition: ease .3s;
    height: auto;
    opacity: 0.9;
}
.bgcolor.scrolled .navbar-brand img{
    height: 50%;
    width: 50%;
    transition: ease .3s;
} 
.round{
    border: 1px solid white !important;
    border-radius: 22px;
    text-align: center;
    margin-right: 5px !important;
}
.round:hover{
    border: 1px solid white !important;
    border-radius: 22px;
    text-align: center;
    background-color: #29626D !important;
    transition: 0.4s;
}
.r1:hover{
    border: 1px solid white !important;
    border-radius: 22px;
    text-align: center;
    margin-right: 5px !important;
}
.r2:hover{
    border: 1px solid white !important;
    border-radius: 22px;
    text-align: center;
    margin-right: 5px !important;

}
.r3:hover{
    border: 1px solid white !important;
    border-radius: 22px;
    text-align: center;
    margin-right: 5px !important;
}
.r4:hover{
    border: 1px solid white !important;
    border-radius: 22px;
    text-align: center;
    margin-right: 5px !important;
}

@media(max-width:992px) {
    .navbar{
        height: auto ;
        background-color:rgb(115, 112, 108);
        opacity: 0.9;
    }
    .right-text{
        padding-top: auto;
    }
}
@media(max-width:1015px){
    .logo{
        height: 60% !important;
        width: 60% !important;
    }
}

@media(max-width:991px){
    .logo{
        max-height: 80px !important;
        max-width: 125px !important;
    }
    .round{
        border:transparent !important;
        text-align: right;
        background-color: transparent !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-right: 0px !important;
    }
    .round:hover{
        border: transparent !important;
        background-color: transparent !important;
        text-align: right;
        padding-left: 0px !important;
        padding-right: 0px !important ;
        margin-right: 0px !important;
    }
    .r1:hover{
        border: transparent !important;
        background-color: transparent;
        text-align: right;
        padding-left: 0px !important;
        padding-right: 0px !important ;
        margin-right: 0px !important;
    
    }
    .r2:hover{
        border: transparent !important;
        background-color: transparent;
        text-align: right;
        padding-left: 0px !important;
        padding-right: 0px !important ;
        margin-right: 0px !important;
    
    
    }
    .r3:hover{
        border: transparent !important;
        background-color: transparent;
        text-align: right;
        padding-left: 0px !important;
        padding-right: 0px !important ;
        margin-right: 0px !important;
    
    }
    .r4:hover{
        border: transparent !important;
        background-color: transparent;
        text-align: right;
        padding-left: 0px !important;
        padding-right: 0px !important ;
        margin-right: 0px !important;
    }
    .navbar-nav .nav-link{
        color: #FFFFFF!important;
        font-size: 17px !important;
        background-color: transparent;
    }
}

.txt{
    text-align: center;
    color: #4F4F4F; 
    font-weight: 900;
    font-family:Roboto; 
    font-size: 36px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0px !important; 
}

.form-check-label{
    font-family: roboto;
}
.left-side-text{
    padding: 250px 40px 0px 60px;
}
.left-side-text-head{
    font-size: 40px;
    color: white;
    font-family: roboto;
}
ul, li{
    list-style: none;
    font-family: roboto;
    color: white;
    padding-left: 0px !important;
}

.register{
    padding-top: 200px;
    padding-bottom: 100px;
}

.become-pro-form{
    background-color: white;
    padding: 25px 20px;
    border-radius: 2px;
}

.register-now{
    font-size: 24px;
    font-family: Roboto;
    color: #4F4F4F;
    font-weight: bold;
    text-align: center;
    padding: 5px 0px 25px 0px;
    margin: 0px !important;
}

@media(max-width:991px) {
    .left-side-text{
        padding-top: 100px;
        padding-left:60px;
    }
    .left-side-text-head{
        text-align: center;
    }
    .register{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .left-ul{
        display: flex;
        justify-content: center;
    }
    
}
.form-btn{
    border: none;
    margin-top: 20px;
    font-family: Roboto;
    font-weight: bold;
    color: white;
    border-radius: 23px;
    background-color: #1D7A8C;
    width: 163px;
    height: 46px;
}

.parent {
    text-align: center;
      margin: auto;
      display: flex;
      justify-content: center;
      padding-top: 40px !important;
      transition: transform 250ms;
      padding-bottom: 35px !important;
  }

  .parent:hover{
    transform: translateY(15px);
  }
.right-left-img{
    padding: 0px !important;
}
.left-img{
    position: absolute;
    z-index: -1;
}
.right-img{
    position: absolute;
    right: 0;
    z-index: -1;
}
.to-top {
    background-color: rgb(69 69 69);
    border: 1px solid white;
    position: fixed;
    left:35px;
    width:48px;
    height:48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .2s;
  }
.to-top:hover{
      background-color: #1D7A8C !important;
  }
  .to-top.active {
    bottom:65px;
    pointer-events: auto;
    opacity:1;
  }






.steps{
    padding-bottom:50px;
}
.step1{
    display: flex;
    margin-bottom: 30px;
    column-gap: 30px;
}

.step1-left{
    padding: 50px 10px;
    max-width: 450px;
}
.step-img{
    transition: transform .2s;
}
.step-img:hover{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.1); 
}
.step2{
    display: flex;
    margin-bottom: 30px;
    column-gap: 30px;
}

.step2-right{
    max-width: 450px;
    padding: 50px 10px;
}
.step3{
    display: flex;
    margin-bottom: 30px;
    column-gap: 30px;
}
.step3-left{
    padding: 50px 10px;
    max-width: 450px;
}

@media(max-width:884px) {
    .step1{
        column-gap: 15px;
    }
    .step2{
        column-gap: 15px;
    }
    .step3{
        column-gap: 15px;
    }
}
@media(max-width:860px) {
    .step1{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }
    .step1-right{
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .step1-left{
        flex:auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .step2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .step2-right{
        text-align: center;
    }
    .step3{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }
    .step3-right{
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .step3-left{
        flex:auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}
.left-img{
    float: left;
}
.right-img{
    float: right;
}
@media(max-width:500px) {
    .left-img{
        display: none;
    }
    .right-img{
        display: none;
    }
}
.how-it-works-services-title{
    font-weight: bold;
    font-family: Roboto;
    font-size: 30px;
    color: #4F4F4F;
}

.how-it-works-services-content{
    font-family: Roboto;
    font-size: 18px;
    color: #4F4F4F;
}
.parent {
    text-align: center;
      margin: auto;
      display: flex;
      justify-content: center;
      padding-top: 20px;
  }
  




/* Footer CSS Starts*/
 

.footer{
    background-color: black !important;
    padding: 30px 0px; 
    margin-bottom: 60px;
    position: sticky;
    bottom: 0;
}
.f-row{
    margin-right: 0px !important;
}
.logo_position{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_logo{
    width: 120px;
    height: 92px;
}
.footer_p{
    word-spacing: 15px;
    margin-bottom: 0px!important;
}
.footer_links{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_link_decoration{
    text-decoration: none !important;
    color: white !important
}
.footer_link_decoration:hover{
    color:yellow !important;
}
.footer_media_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_media_logo{
    display: block;
    padding:10px !important;
}
.footer_media_logo:hover{
    filter: invert(0.2) sepia(1) saturate(2.8) hue-rotate(0deg) brightness(1);
}
.footer_policy{
    background-color: #292929;
    position: fixed;
    bottom: 0;
}

.policy_p{
    margin: 0px !important;
    padding: 20px 0px !important;
    font-family: roboto;
    font-size: 14px;
    text-align: center;
    color:white;
}
.btn2{
    border-radius: 27px !important;
    border: 1px solid  #F1F1F1;
    background-color: #EED507;
    color: black;
    margin-top: -50px !important;
    width: 100px;
    height: 40px;
    float: right !important; 
    justify-content: center !important;
}
@media(max-width:768px){
    .okay-btn{
        display: flex;
        margin: auto;
        justify-content: center;
        margin-top: 40px;
    }
}